body {
    font-family: "public sans";
}
.employee-homepage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.side-navbar{
    margin-left: 10px;
    margin-top: 10px;
    width: 240px;
}
.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    padding-left: 10px;
    padding-bottom: 20px;
}
.logo-handle {
    position: absolute;
    top: 5px;
    right: -20px;
}
.side-navbar h6{
    font-size: 12px;
    margin: 20px 0 20px;
    padding-left: 10px;
    color: rgb(187, 173, 173);
}
.navitem{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height:40px;
    width:100%; 
    border-radius: 5px;
    margin-top:0px;
    margin-bottom: 0px;
}
.navitem img{
    padding-left: 10px;
}
.navitem p{
    margin-top:15px ;
    padding-left:10px;
}  
.navitem .material-symbols-outlined{
    padding-left: 10px;
} 
.usermanagement h6{
    margin-top:20px;
    margin-bottom:20px;
}
.sidenav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
}
.navitem:hover{
    background-color: rgba(244,72,72,0.12);
    color:red;
}
.navitem:hover .indication{
        position:relative;
        right:-130px;
        width: 0px;
        height: 40px;
        border: 3px solid red;
        border-radius: 5px;
}
.sidenav-update {
    background-color: rgba(244, 72, 72, 0.12);
    border-radius: 15px;
    margin: 600px 0px 0px;
    text-align: center;
    width: 100%;
}
.sidenav-update h3{
    color: rgb(235, 84, 84);
    padding: 20px 0px 0px 5px;
    font-size: 16px;
    text-align: left;
}
.sidenav-update p{
    font-size: 15px;
    padding: 0px 15px 0px 5px;
    line-height: 20px;
    text-align: left;
}
.update-buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
    padding-bottom: 20px;
}
.update-buttons button{
    width:80px;
    height:40px;
    border-radius: 10px; 
    border: none; 
}
.dismiss{
    background-color: rgba(244, 132, 136);
    margin-right:10px;
    margin-left:10px;
}
.accept{
    color:white;
    background-color: rgb(235, 84, 84);
}
.context{
    width: 1130px;
    height: 70px;
}
.searchbar {
    width: 1130px;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 5px 5px aliceblue;
    align-items: center;
}
.search, .searchbar-choices, .searchbar-admin, .searchbar-userdetails  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.search img {
    height: 25px;
    padding-right: 10px;
    padding-top: 10px;
    padding-left: 15px;
}
.search p {
    font-size: 15px;
    color: rgb(191, 194, 194);
} 
.searchbar-icons {
    padding-right: 20px;
}
.searchbar-admin {
    margin-right: 50px;
}
.searchbar-usericon {
    position: relative;
}
.searchbar-usericon img {
    border-radius: 50%;
    height: 40px;
}
.searchbar-usericon .dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: green;
    position: absolute;
    top: 30px;
    right: 3px;
    border: 2px solid white;
}
.searchbar-username {
    text-align: left;
}
.searchbar-username p {
        margin-bottom: 0px;
        margin-top: 15px;
        padding-left: 10px;
}
.searchbar-username h4 {
        margin-top: 0px;
        padding-top: 5px;
        padding-left: 10px;
}
.searchbar-arrowdown {
    position: absolute;
    margin-top: 15px;
    right: 30px;
}
.employee{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.employee-info h1{
    font-size: 25px;
    margin-bottom: 0px;
}
.employee-info p{
    font-size: 15px;
    margin-top: 10px;
}
.employee-buttons{
    display: flex;
    align-items: center;
}
.employee-buttons .export{
    display:flex;
    flex-direction: row;
    justify-content: center;
    height: 40px;
    width: 120px;
    margin-right: 20px;
    align-items: center;
    border-radius: 10px;
    border-color: rgb(216, 203, 203);
    /* border:none; */
}
.export img{
    padding-right:8px;
}
.employee-buttons .add-employees{
    display:flex;
    flex-direction: row;
    justify-content: center;
    height: 40px;
    width: 225px;
    margin-left: 0px;
    margin-top: 0px;
    border-radius: 10px;
    color:white;
    background-color: rgb(245, 83, 71) ;
    border:none;
}
.add-employees img{
    margin-top:5px;
    padding-right: 10px;  
}
.add-employees p{
    margin-top: 10px;
    font-size: 15px;
}
.alphabets{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 16px;
}
.alphabets button{
    height: 40px;
    width: 36px;
    border-radius: 5px;
    border:none;
}
.alphabets button:hover{
    background-color: rgba(244, 132, 136);
    color:white;
}
.alphabets img{
    padding-right: 10px;
}
.filter-bar{
    width:100%;
    height:50px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(244,72,72,0.12);
    margin-top: 15px;
    border-radius: 10px;
    border: 1px solid rgb(230, 165, 165)
}
.filterbar-dropdowns{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.filter{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    color:rgb(192, 79, 79); 
    padding-right: 10px;  
    
}
.left-employees img{
    padding-left:10px;
    font-size: 15px;
}
.status{
    display:flex;
    gap:10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
select[name="status-dropdown1"] {
    height: 35px;
    width: 70px;
    text-align: center;
    border-radius:5px;
    border: 1px solid rgb(230, 165, 165)
  }
select[name="status-dropdown2"] {
    height: 35px;
    width: 90px;
    text-align: center;
    border-radius:5px;
    border: 1px solid rgb(230, 165, 165)
}
select[name="status-dropdown3"] {
    height: 35px;
    width: 110px;
    text-align: center;
    border-radius:5px;
    border: 1px solid rgb(230, 165, 165)
}
.filterbar-buttons button:last-child{
    width:60px;
    height: 30px;
    background-color: rgb(245, 83, 71);
    border: 1px solid rgb(230, 165, 165);
    color:white;
    margin-right: 20px;
    border-radius: 5px;
}
.filterbar-buttons button:first-child{
    width:60px;
    height: 30px;
    margin-right: 10px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(230, 165, 165)
}
.filter img{
    padding-left:5px;
}


.employees-list{
    box-shadow: 0px 0px 5px 5px aliceblue ;
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
}

.employees-list
.table-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 30px;
}
.table{
    font-family: "Albert sans";
    border:none;
    font-family: table;
    
}
.employees-list{
    margin-top: 20px;
}
.table-header{
    margin-top: 20px;
}
.table-header-buttons{
    margin-top: 5px;
    padding-top: 5px;
}
.table-header-buttons img{
    padding-top:10 px;
    height: 20px;
    padding-left: 10px;
    margin-left:0px;
}
.employees-list
.table-header
.table-header-buttons button{
    width: 70px;
    height: 30px;
    padding-left: 10px;
    align-items: center;
    color:white;
    background-color: rgb(228, 90, 90);
    opacity:0.9;
    border-radius: 5px;
    border:none;
}
.table-header-add img{
    align-items: center;
    padding-top: 15px;
}

.employees-details 
.header-of-table{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 30px;
}
.table-header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.dropdown button{
    border:none;
    background-color: rgba(248, 245, 245, 0.918);
    cursor: pointer;
}
.dropdown a{
    display: block;
    text-decoration: none;
    color:black;
    padding:15px 0px 15px 20px;
    font-family: "albert sans";
    align-items: center;
    font-size: 13px;
}
.dropdown .content{
    position: absolute;
    background-color: white;
    min-width: 150px;
    display:none;
}
.dropdown:hover .content{
    display:block;
}
a:hover{
    background-color: chocolate;
    color:white;
}
.menu-button{
    border:none;
    background-color: none;
}
.employees-details .table-header-buttons{
    margin-top: 20px;
}
.employees-details .table-header-buttons button{
    width: 70px;
    height: 30px;
}

.table{
    width: 100%;
    margin-top: 17px;
    border-radius: 10px;
    
}
table {
    font-style:public sans;
    border-collapse: collapse;
    width: 100%;
}
table .checkbox{
    width: 80px;
        text-align: center;
        transform: scale(1.4);
        margin-left: 0px;
}
th.checkbox{
    width:20px;
    height:20px;
    margin-top:0px;
}
table .user{
    width: 180px;
}
.expand{
    display: flex;
    flex-direction: row;
}
.expand img{
    padding-top:12px;
    width:15px;
    height:15px;
}

table .location{
    width: 125px;
}
table .department{
    width: 135px;
}
table .role{
    width: 200px;
}
table .emp-no{
    width: 130px;
}
table .status{
    width: 30px;

}
table .join-date{
    width: 115px;
}
th{
    font-size: 12px;
}
td, th {
    text-align: left;
    font-family:"albert sans";
    font-weight: bold;
    color:rgb(56, 51, 51)
}
tr{
    font-family:"albert sans";
    border-top: 1px solid #dddddd;
    height: 45px;
    font-size: 14px;
    color:black;
    font-weight: bold;
}
table td button{
    width:60px;
    height:30px;
    background-color: rgba(231, 244, 232, 1);
    border:none;
    border-radius:5px;
}
table tr td p{
    margin-top: 10px;
    margin-bottom:10px;
}
#header-background{
    background-color:rgba(248, 245, 245, 0.918);
}
#row-color{
    background-color:rgba(244,72,72,0.12) ;
}

.user1{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
}
.user1 img{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}
.user1-info p{
    align-items:center;
}
.user1-info p:first-child{
    margin-bottom: 0px;
}
.user1-info p:last-child{
    margin-top: 0px;
    font-weight: normal;
}
.row color{
    background-color: rgba(244,72,72,0.12);
}